body {

}

.input-f {
    display: block;
}

.header {
    background: beige;
}

.btn:hover {
    background:grey;

}

#company_list tr th, tr td{
    border: 2px solid black;
}

#company_list tr {
    margin: 2px;
}
/*
#company_list tr td{
    border: 2px solid red;
}
 */